google-genai
azure-cognitiveservices-speech
elevenlabs
sqlalchemy
psycopg2-binary==2.9.9
sqlalchemy-utils
streamlit
streamlit-webrtc 
streamlit-server-state 
streamlit-elements
opencv-python-headless
pydub
plotly
pipecat-ai
simli-ai
streamlit_authenticator